/* CustomDimensionsConfig.css */
.heading{
  font-size: 18px;
  font-weight: 500;
}

.config-container {
  background-color: #f7f7f7;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}


  
.config-container  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
.config-container .dimension-input {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
.config-container label {
    font-size: 13px;
    margin-right: 10px;
  }
  
.config-container input[type="number"] {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .submit-button-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .button{
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
    background-color: #007bff;

  }
  /* Add more styles as needed for spacing, alignment, and color scheme */
  