// styles.css
.container {
  width: 100%;
  margin: 0 auto;
}

.upload-home{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.filesupload, fileslist{
  display: flex;
  flex:1;
  position: relative;
  width: 90%;
  margin: 0 auto;
  
}


.download-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.feature-icons{
  position: absolute;
  bottom: -30px;
  right: 0;
  display: flex;
  gap: 15px;
  svg{
    cursor: pointer;
    color: #007BFF;
  }
}

.feature-metrics{
  position: absolute;
  bottom: -20px;
  left: 0;
  display: flex;
  gap: 5px;
  font-size: 10px;
}

  // Horizontal line
  .vertical-bottom-line{
    border-left: 0.5px solid #dadce0;
  }
  

  .label-style{
    color: #007BFF;
  }


.feature-metrics > span{
  cursor: pointer;
}