.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007BFF;
  color: #fff;
  padding: 1rem;
  position: fixed;
  z-index: 10;
  width: 97%;
}

.hide{
  display: none;

}

.show{
  display: flex;
}

 .nav-title-section {
  display: flex;
  justify-content: space-between;
  background-color: #007BFF;
  color: #fff;
  width: 100%;
}

.navbar__title {
  font-size: 13px;
  font-weight: bold;
  display: flex;
  width: 100%;
  justify-content: left;
  gap: 5px;
  padding-left: 0px;
}

.navbar__toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  // padding: 1rem;
}

.navbar__toggle-icon {
  display: block;
  // width: 1.5rem;
  // height: 1.5rem;
  border-top: 2px solid #fff;
  margin-bottom: 0.25rem;
}

.navbar__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__item {
  margin-left: 1rem;
}

.navbar__link {
  color: #fff;
  text-decoration: none;
  font-size: 13px;

}

.nav-title-section-second{
  display: none;
}

@media screen and (max-width: 768px) {

  .navbar{
    padding: 0rem;
    padding: 0px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    // margin-top: 15px;
  }

  .nav-title-section-second{
    display: flex;
    justify-content: space-between;
    width: 100%;
    // padding: 20px;
    align-items: center;
  }

  .navbar__title {
    padding-left: 10px;
  }

  .navbar__toggle{
    display: block;
    padding-right: 10px;
  }

  .navbar__list {
    
    top: 0%;
    left: 0;
    width: 100%;
    background-color: #333;
    // padding: 1rem;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-200%);
    margin-top: -20px;
  }

  .navbar__list--show {
    transform: translateY(0%);
  }

  .navbar__item {
    margin: 0rem 0 0.5rem 0;
  }
}
